# ***Pandas***

* ***pandas are used to set the data in tabular format***
* ***pandas can create data in two ways***
    * series
    * data frame
* ***we can access the large volume of files using pandas***
* ***pandas are used to analyze and to learn the data***

In [2]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
a = pd.Series([1,2,3,4],index = ["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
a["e"]=5

In [6]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
a["a"] = 0
a

a    0
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
a = pd.Series(["tejaswi","18EM1A0439"],index = ["name:","roll no:"])
a

name:          tejaswi
roll no:    18EM1A0439
dtype: object

In [17]:
a = {"Name":["tejaswi","saru","sudha","sai"],
    "age":["19","20","19","19"],
    "bloodgroup":["b+","a+","o+","b+"]}
b = pd.DataFrame(a)
b = b.set_index("Name")
b

        age bloodgroup
Name
tejaswi  19         b+
saru     20         a+
sudha    19         o+
sai      19         b+

In [18]:
b.values

array([['19', 'b+'],
       ['20', 'a+'],
       ['19', 'o+'],
       ['19', 'b+']], dtype=object)

In [19]:
b.index

Index(['tejaswi', 'saru', 'sudha', 'sai'], dtype='object', name='Name')

In [20]:
b.columns

Index(['age', 'bloodgroup'], dtype='object')

In [21]:
type(b)

pandas.core.frame.DataFrame